.main
  .main__info
    .main__info--left
      .main__info--left--title
        test
      .main__info--left--member
        Member : nnnnn
    .main__info--right
      =link_to "#", class: "edit--btns" do
        Edit
  .main__list
    %ul.name--date
      %li.list--name
        sho
      %li.list--date
        2980/12/12
    %p.message--content
      ぼくドラえもん
    %ul.name--date
      %li.list--name
        GTO
      %li.list--date
        2080/12/12
    %p.message--content
      ぼくpokeもん
    %ul.name--date
      %li.list--name
        FGD
      %li.list--date
        5555/55/55
    %p.message--content
      5555555

  .main__form
    .main__form--img
      %input{class: "input-text",placeholder:"type a message"}
        %label{class: "input-image"}
          = icon('fas', 'image')
          %input{type: "file",class: "input-image-file"}
      .message--buttons
        %input{type:"submit",class:"message--button",value:"Send"}