.side
  .side__name
    .side__name--items
      .side__name--items--name
        sho
      %ul.icons
        %li
          = link_to "#" do
            = icon('fas','edit')
        %li
          = link_to "#" do
            = icon('fas','cog')
  .side__list
    .side__list--groups
      %p.group
        sho
      %p.message
        まだメッセージがありません
  
