.side
  .side__name
    .side__name--items
      %p.name
        sho
      %ul.icons
        %li
          = link_to "#" do
            = icon('fas','edit')
        %li
          = link_to "#" do
            = icon('fas','cog')
  .group--list
    .groups
      %p.group
        sho
      %p.message
        まだメッセージがありません
  
